@{
    ViewBag.Title = "Farmaceutica";
}



<div class="row">
    @*<div class="col-md-4">
        <h2>@Html.ActionLink("Empleados","Index", "Empleados")</h2>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Estados", "Index", "Estados")</h2>
       
    </div>*@
   
</div>